.one{
    background-color: #a7cffa;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}
.one:hover{
    background-color: #c4dcf7;
}
.one:hover .two{
    color: white;
}
.two{
    color:  white;
}

.form input{
    border: none;
    outline: none;
    border: 1px solid rgb(219, 216, 216);
    border-radius: 5px;
}

.form input:focus,
.form textarea:focus{
    border: 1px solid blue;
}

textarea{
    border: none;
    outline: none;
    border: 1px solid rgb(219, 216, 216);
    border-radius: 5px;
}